/* App */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.breadcrumb {
  margin-bottom: 0;
  background-color: white;
}

a {
  color: #333333;
}
a:hover {
  color: #C63B1D; 
  text-decoration: none;
}

.component-container { 
  min-height: 90vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'FiraSans-Light'
}

.App-subtitle {
  margin-bottom: 20px;
  font-family: 'FiraSans-Light'
}

.App-link {
  color: #61dafb;
}

.item-title {
  color: white;
}

.item-description {
  color: white;
  text-align: left;
  font-size: calc(7px + 1vmin);
}

.item-type {
  color: white;
  font-size: calc(6px + 1vmin);
  margin: 5px 0 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-header {
  background-color: #333333;
}


/* Beer Colors */

.beer-color-text-Red { 
  border: 2px solid #C63B1D;
  color:  #C63B1D;
}
.beer-color-text-Red:hover { 
  border: 2px solid white;
  background-color: #C63B1D;
}

.beer-color-Red {
  background-color: #C63B1D;
}

.beer-color-text-Yellow { 
  border: 2px solid #E8DC24;
  color: #E8DC24;
}
.beer-color-text-Yellow:hover { 
  border: 2px solid white;
  background-color: #E8DC24;
}

.beer-color-Yellow {
  background-color: #E8DC24;
}

.beer-color-text-Black { 
  border: 2px solid #270A0A;
  color: #270A0A;
}
.beer-color-text-Black:hover { 
  border: 2px solid white;
  background-color: #270A0A;
}

.beer-color-Black {
  background-color: #270A0A;
}


/* RESERVATIONS */

.r-description {
  text-align: left;
}

.pag-arrow {
  padding-top: 250px;
}

.pag-button {
  padding: 0px;
}

/* @media only screen and (max-width: 600px) {
  .pag-arrow {
    display: none;
  }
} */

.align-h {
  display:flex;
  justify-content:center;
  align-items:center
}

.date-picker {
  padding: 5px 10px 5px 10px;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
  width: 100%;
}

.reservation-btn {
  background-color: #C63B1D;
  border: none;
}


/* RANKINGS */

@media only screen and (max-width: 600px) {
  .rank-display {
    display: none;
  }
}

/* FAVORITES */

.fav-card {
  padding: 0px;
  margin-right: 15px;
}

.fav-title {
  color: white;
  font-size: 20px;
}

.fav-details {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .fav-title {
    font-size: 14px;
  }

  .fav-details {
    font-size: 8px;
  }
}
